<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="test00.Properties.Settings.XdataTestConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Man\Desktop\C_\manTest\XdataTest.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>